#gameboard {
  overflow: auto;
}

.dice {
  font-size: 80pt;
  text-align: center;
  float: left;
  margin-right: 10px;
  animation-name: dice;
  animation-duration: 1s;
}

#gameboard:last-child {
  clear: both;
}

#rollthedice {
  width: 100%;
  font-weight: bold;
  font-size: 20pt;
  padding: 10px;
  border-radius: 3px;
  background: #00ffff;
  cursor: pointer;
}

@keyframes dice {
  0% { transform: rotate(0deg) }
  10% { transform: rotate(120deg) }
  20% { transform: rotate(10deg) }
  30% { transform: rotate(360deg) }
  40% { transform: rotate(20deg) }
  50% { transform: rotate(170deg) }
  60% { transform: rotate(30deg) }
  70% { transform: rotate(320deg) }
  80% { transform: rotate(40deg) }
  90% { transform: rotate(320deg) }
  100% { transform: rotate(0deg) }
}