@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
body {
  background-image: url("../images/moroccan-flower-dark.png");
  font-family: 'Luckiest Guy';
}

#container {
  text-align: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  border: solid 10px #000;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

h1 {
  color: white;
  text-shadow: 2px 1px 5px #000;
  letter-spacing: 3;
  font-size: 5vw;
}

#gameboard {
  overflow: auto;
}

#controls {
  margin: 30px 0;
}

#scoreboard {
  color: white;
  text-shadow: 2px 1px 5px #000;
  letter-spacing: 3;
  width: 100%;
  font-weight: bold;
  font-size: 40pt;
  margin-top: 40px;
}

button {
  font-weight: bold;
  font-size: 20pt;
  padding: 20px 40px;
  color: #fff;
  border: solid 1px #000;
  border-radius: 10px;
  background: #090;
  cursor: pointer;
}

button:hover {
  background: #060;
}

button:active {
  background: #600;
}

.dice {
  -webkit-animation-name: rolling;
          animation-name: rolling;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  width: 120px;
}

@-webkit-keyframes rolling {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  30% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  40% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
  }
  60% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  70% {
    -webkit-transform: rotate(320deg);
            transform: rotate(320deg);
  }
  80% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  90% {
    -webkit-transform: rotate(320deg);
            transform: rotate(320deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rolling {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  30% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  40% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
  }
  60% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  70% {
    -webkit-transform: rotate(320deg);
            transform: rotate(320deg);
  }
  80% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  90% {
    -webkit-transform: rotate(320deg);
            transform: rotate(320deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=master.css.map */